pytorch3d
numpy==1.21.5
pillow
tqdm
Ninja
trimesh
loguru==0.5.3
matplotlib==3.3.2
ninja==1.10.0.post2
omegaconf==2.1.0.dev24
pandas==1.2.2
pyglet==1.3.2
pyrender==0.1.43
PyYAML==5.3.1
scenepic==1.0.2
smplx==0.1.26
tensorboardX==2.1
torch==1.7.1+cu110
torchgeometry==0.1.2

git+git://github.com/otaheri/chamfer_distance.git
git+git://github.com/otaheri/MANO.git
git+git://github.com/otaheri/bps_torch.git
git+git://github.com/MPI-IS/mesh.git




